// Views/CoverLetter/Result.cshtml
@model CoverLetterApp.Models.CoverLetterResponse
@{
    ViewData["Title"] = "Your Cover Letter";
}
<h2>Your Generated Cover Letter</h2>
<pre>@Model.CoverLetter</pre>
